<md-card tdMediaToggle="gt-xs" [mediaClasses]="['push']">
  <md-card-title>New Place</md-card-title>
  <md-divider></md-divider>

  <md-card-content>
    <place-form #placeFormComponent></place-form>
  </md-card-content>
  <md-divider></md-divider>

  <md-card-actions>
    <button md-raised-button [disabled]="!placeFormComponent.form.valid" (click)="save(placeFormComponent.form)" color="primary">
      <md-icon>add</md-icon>
      New Place
    </button>

    <button md-raised-button (click)="cancel()">
      <md-icon color="warn">cancel</md-icon>
      Cancel
    </button>
  </md-card-actions>

</md-card>
